<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chienphamk58.ailatrieuphu">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="Ai Là Triệu Phú"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Play" />
        <activity android:name=".Help" />
        <activity android:name=".About" />

        <service
            android:name=".Sound_Music.PlaySongService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Sound_Music.PlaySongServiceLevel1"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".Sound_Music.PlaySongServiceLevel1_1"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>